.places-categore-link{
    text-decoration: none;
    background-color: rgba(0,0,0,.05)!important;
    color: rgba(0,0,0,.6);
    padding: 5px 15px;
    border-radius: 20px;
}

.description-text{
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #504840;
}

.places-title-link{
    text-decoration: none;
    color: white;
}
