.menu-btn{
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-transform: inherit;
    padding: 0 30px;     
}

.menu-btn-link {
text-decoration: none;
    color: white;
    display: flex;
    text-align: center;   
}

.menu-btn-link:hover{
    color: #ac8a62;
}

.active-menu-btn-link {
    text-decoration: none;
    color: #ac8a62; 
}

.favor-menu-item, .like-counter-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.likes-counter, .like-icon{
    margin-left: 5px;
}
