.places-picture, .place-image{
    height: 180px;
    width: 272px;
    position: relative; 
    display: inline-block; 
    overflow: hidden; 
}

.image-wrap img{
    transition: 0.5s; 
    display: block;
}

.image-wrap img:hover{    
    transform: scale(1.2);        
}


.likes-btn{
position: absolute; 
top: 20px;   
right: 25px;
display: flex;
justify-content: center;
align-items: center;
background-color: #272727;
border-radius: 20px; 
padding: 5px 15px;
color: white;
cursor: pointer;
}

