.our-team-wrapper{
    padding-top: 120px;
    padding-bottom: 125px;
    background-color: #e2e0dc;
    position: relative;
}

.our-team-title{
    font-size: 50px;
    line-height: 64px;
    font-weight: 700;
    color: #504840;
    text-align: center;
    padding-bottom: 50px;
}