.advent-description{
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: white;   
}

.main-advent-description{
    padding-bottom: 50px;
}