.quote_section{
    height: 758px;
    width: 100vw;
    padding-top: 300px;
    background: url("../../assets/home-3-gys.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}