.advent-title{
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 0 15px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;    
}

.title-section{       
    margin-bottom: 50px; 
}

.title-block{
    display: flex;
}
