.advent-title{
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 0 15px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;    
}

.main-block{
    display: flex;  
    padding-bottom: 10px;  
}