.discover-more-link{      
    margin: 50px;       
}

.wrap-discover-more{    
    font-size: 18px;    
    font-weight: 400;    
    color: white;       
    height: 25px;
    text-align: right;   
    text-align: center;
}

.text-discover{
    border-bottom: 1px solid #ac8a62;
    text-decoration: none;
    font-size: 18px;    
    font-weight: 400;    
    color: white;   
}

