.wrap-discover-more{          
    display: flex;
    justify-content: center;
    margin-top: 50px;    
}

.text-discover{    
    border-bottom: 1px solid #ac8a62;    
    font-size: 18px;    
    font-weight: 400;    
    color: white;  
    text-decoration: none;
}

